:root {
  --primary-color: #b8dbda;
  --secondary-color: #198e88;
  --white-color: #ffffff;
  --dark-color: #444444;
  --project-bg: #ffffff;
  --menu-bg: #b8dbda;

  --title-color: #444444;
  --gray-color: #909090;
  --link-color: #198e88;
  --p-color: #666262;

  --base-font-family: "verdana", sans-serif;
  --title-font-family: "verdana", sans-serif;
  --font-bold-family: "verdana", sans-serif;
  --font-weight-bold: bold;

  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 16px;

  --border-radius-large: 100px;
  --border-radius-small: 5px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  line-height: inherit;
}

h1 {
  color: var(--title-color);
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 900;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 900;
  margin-bottom: 0;
}

h4 {
  color: var(--gray-color);
  font-family: var(--base-font-family);
  font-size: var(--p-font-size);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  line-height: 1.5em;
}

b {
  font-weight: 1000;
}

strong {
  letter-spacing: 0;
  color: var(--secondary-color);
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; 
  -webkit-filter: grayscale(100%);
}

.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}


.quote {
  position: relative;
  margin: 0;
}

.quote::after {
  content: "“";
  position: absolute;
  bottom: -80px;
  left: 20px;
  font-family: times;
  color: var(--gray-color);
  font-weight: var(--font-weight-bold);
  font-size: 14em;
  line-height: 0;
  opacity: 0.1;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  display: block;
  margin: 42px 0;
  padding: 14px 22px;
  color: rgba(0, 0, 0, 0.5);
}

.custom-btn {
  background: transparent;
  border: 2px solid var(--dark-color);
  border-radius: var(--border-radius-large);
  padding: 12px 26px 14px 26px;
  color: var(--dark-color);
  font-family: var(--base-font-family);
  font-size: var(--p-font-size);
  white-space: nowrap;
}

.custom-btn.btn-bg {
  background: var(--secondary-color);
  color: var(--white-color);
  border-color: transparent;
  transition: all 0.3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
  background: var(--dark-color);
  color: var(--white-color);
  border-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--title-color);
  outline: none;
  text-decoration: none;
}

::selection {
  background: var(--secondary-color);
  color: var(--white-color);
}

.section-padding {
  padding: 8em 0;
}
.section-padding-half {
  padding: 4em 0;
}

.google-map iframe {
  display: block;
  width: 100%;
}

.navbar {
  background: var(--menu-bg);
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 1.5em;
}

.navbar-brand {
  font-size: var(--h2-font-size);
}

.nav-link {
  font-size: var(--menu-font-size);
  letter-spacing: 0.4px;
  margin: 0 1.6em;
  padding: 0.6em;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondary-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand-lg .navbar-nav .nav-link.contact {
  border: 2px solid var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-family: var(--font-bold-family);
  padding: 0.6em 2em 0.8em 2em;
}

.navbar-expand-lg .navbar-nav .nav-link.contact:hover,
.navbar-expand-lg .navbar-nav .nav-link.contact.active {
  background: var(--secondary-color);
  color: var(--white-color);
}

.navbar-nav .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0 10px 0 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.hero {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
}

.hero-bg {
  background: linear-gradient(
    170deg,
    var(--primary-color) 64%,
    var(--white-color) 30%
  );
}

.hero-image {
  position: relative;
  top: 2em;
}

.about {
  position: relative;
  overflow: hidden;
}

.about-image img {
  display: block;
  margin: 0 auto;
}

.vid-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../assets/video_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 4%;
}

#speakers {
  padding-top: 8em;
}
.speaker-img {
  border-radius: 50%;
  width: 100%;
}
#speaker-carousel {
  display: block;
  width: 100%;
  height: auto;
}
.speakers-card {
  height: 200px;
}
.speaker {
  text-align: center;
  margin: 0% 5%;
}
.speaker-bottom {
  top: 50%;
  position: absolute;
}
.speaker p {
  color: var(--secondary-color);
}
.speaker h4 {
  font-size: 20px;
  margin-bottom: 0;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  background: var(--gray-color);
  width: 50px;
  height: 3px;
  margin: 35px 5px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
}
@media screen and (max-width: 500px) {
  .speakers-card {
    height: 740px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    margin: 0px 5px;
  }
  .speaker h4 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .speaker-bottom {
    top: 46%;
  }
}
@media screen and (min-width: 500px) {
  .speakers-card {
    height: 250px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    margin: 0px 5px;
  }
  .speaker h4 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .speaker-bottom {
    top: 50%;
  }
}

#faq {
  padding-top: 0;
}

.sponsor-row {
  display: flex;
  align-items: center;
  padding: 2% 0%;
}
.sponsor-column {
  width: 50%;
  text-align: center;
}
.t1 {
  max-width: 75%;
  max-height: 10vw;
}
.t2 {
  max-height: 4vw;
  max-width: 40%;
}

.blog-header {
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.blog-header img {
  border-radius: var(--border-radius-small);
  display: block;
}

.blog-header-info {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.95));
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 2em;
}

.blog-header-info h3 {
  max-width: 80%;
}

.blog-header-info a {
  color: var(--white-color);
}

.blog-header-info a:hover {
  color: var(--secondary-color);
}

.blog-sidebar img {
  border-radius: var(--border-radius-small);
  width: 159px;
  margin-right: 22px;
}

.blog-sidebar h3 {
  font-size: 18px;
}

.newsletter-form .form-control,
.contact-form .form-control {
  box-shadow: none;
  background: var(--project-bg);
  border: 0;
  padding: 1.7em 1.3em;
  margin: 14px 0;
}

.newsletter-form button,
.contact-form #submit-button {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--p-font-size);
  line-height: 0px;
  padding: 1.5em 1.3em;
}

.newsletter-form button {
  background: var(--secondary-color);
}

.site-footer {
  background: var(--primary-color);
  padding: 0 0 3em 0;
}

.site-footer a {
  color: var(--p-color);
}

.site-footer a:hover,
.footer-icon {
  color: var(--gray-color);
}

.footer-link li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.copyright-text,
.footer-link,
.site-footer .social-icon {
  margin-top: 6em;
}

.copyright-text {
  margin-top: 5.3em;
}

.social-icon {
  position: relative;
  padding: 0;
  margin: 4em 0 0 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  text-decoration: none;
  display: inline-block;
  /* font-size: var(--base-font-size); */
  margin: 15px;
  text-align: center;
}

.mlh-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

@media screen and (max-width: 500px) {
  .mlh-badge {
    right: 75px;
  }
}

@media screen and (min-width: 1650px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 28px;
  }
  p {
    font-size: 24px;
  }
  .nav-link {
    font-size: 22px;
  }
  .container {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .about-info h2 {
    max-width: 70%;
  }
}

@media screen and (min-width: 991px) {
  .project h2 {
    max-width: 32%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    padding-top: 3em;
  }

  .hero-text {
    bottom: 2em;
  }

  .navbar {
    padding: 1em;
  }

  .navbar-collapse {
    text-align: center;
    padding: 2.5em 0;
  }

  .hide-mobile {
    display: none;
  }

  .nav-link {
    display: inline-block;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    margin: 1em 0;
  }

  .copyright-text,
  .footer-link,
  .site-footer .social-icon {
    margin-top: 3em;
    padding: 0;
    text-align: left;
  }

  #video {
    width: 100%;
  }

  .vid-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  .project-info {
    padding: 16px;
    margin: 0 auto;
  }

  .short-text {
    display: block;
  }
  .full-text {
    display: none;
  }

  .footer-link,
  .site-footer .social-icon {
    margin-top: 1em;
  }

  .copyright-text {
    margin: 2.5em 0 1em 0;
  }

  .footer-link li {
    margin-left: 0;
  }
}
